html{
    box-sizing: border-box;
}

*{
    box-sizing:inherit;
}

body{
    font-size: 	1.4375rem;
    font-family: "Helvetica", "Arial", sans-serif;
    width: 600px;
    padding: 15px;
    border: 1px solid black;
}

h1{
    font-size: 42px;
    font-family: "Libre Franklin", "Arial", sans-serif;
    font-weight: bold;
    margin: 0;
}

header{
    margin:0px;
    border-bottom: 28px solid black;
}

p, dl{
    margin: 0px;
}

main{
    border-top: 15px solid black;
    border-bottom: 20px solid black;
}

main > p:first-child{
    text-align: right;
    padding: 3px 0;
    padding-top:5px 0;
}

dt, dd {
    margin:0;
    display: inline-block;
    padding: 3px 0;
}

dl{
    border-top: 1px solid black;
}

dd{
    /*background-color: lightblue;*/
    text-align: right;
    width: 50%;
}

dt{
    /*background-color:lightyellow;*/
    width:50%;
}

.indent{
    margin-left: 28px;
}
table .indent{
    padding-left: 28px;
}

table{
    border-collapse: collapse;
    width:100%;
    text-align:left;
    font-size: 1.2rem;
}

thead > tr > th{
    font-weight: normal;
}

caption{
    text-align: left;
    border-top: 1px solid black;
    padding-top: 10px;
}

thead{
    border-bottom: 1px solid black;
}