body {
    font-family: Arial;
    border:2px solid;
    width:646px;
    padding:15px;
}

h1 {
    font-size:55px;
    margin-top:0px;
    margin-bottom:0px;
}
p {
    font-size:25px;
    margin-top:0;
    margin-bottom:0;
}

h2 {
    font-size:24px;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:10px;
    padding-bottom: 10px;
    border-top:30px solid;
    border-bottom:1px solid;
}
h3 {
    margin-top:10px;
    margin-bottom:10px;
    border-top:15px solid;
    text-align:right;
    font-size: 25px;
}

dl {
    display:inline-block;
    margin:0;
    font-size: 28px;
}
dt {
    display:inline;
    margin:0;
}
dd {
    display:inline;
    margin:0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td:last-child{
    text-align: right;
}

header dl:last-child {
    float:right;
}

td {
    font-size: 24px;
    border-top: 1px solid black;
}
    
tbody tr:nth-child(10) {
    border-bottom: 20px solid black;
}

tfoot tr td:only-child {
    padding-top: 20px;
    font-size: 25px;
    text-align: left;
    
}

.indent {
    width: 30px;
    border-bottom: none;
    border-top: none;
    text-indent: 30px;
}

th {
    font-size: 20px;
    font-weight: normal;
    padding-top: 20px;
}

article td {
    border: none;
}

article thead th{
    text-align: left;
    border-bottom: 1px solid black;
}
#indent {
    width: 225px;
}

article td:nth-child(4) {
    text-align: left;
}