
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
   font: 28px Helvetica, Arial, sans-serif;
  background: #ffffff;
}

dl{
  display: flex;
   margin: 0px;
   width: 50%;
  padding-top: 5px;
  padding-right: 0px;
  padding-left: 0px;
}

dd{
  margin-left: 0px;
  padding-left: 8px;
}

aside dl:nth-child(2){
  text-align: right;
  margin-left: 100px;
}

.calTitle{
  font-weight: bold;
}

aside{
  display: flex;
  border-bottom: 15px solid #000000;
  padding-bottom: 5px;
}

article{
  border: 2px solid #000000;
  width: 680px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}
/* Nutrition Facts */
header h1:only-of-type{
  font-size: 2rem;
  font-weight: bold;
  margin: 0px;
}
/* Amount per serving */
main h1:only-of-type{
  border-top: 30px solid #000000;
  border-bottom: 1px solid #000000;
  font-weight: bold;
  font-size: 1rem;
  padding-top:10px;
  padding-bottom:10px;
  margin: 0px;
  margin-top: 5px;
}

/* serving size */
header p:first-of-type{
  margin: 0px;
}

header p:nth-child(3){
  margin: 0px;
}

p{
  font-family: Helvetica;
  margin: 0px;
}

ul{
  list-style: none;
  margin: 0px;
  padding-left:0px;
}

li{
  border-bottom: 1px solid #000000;
  display:flex;
}

li:first-of-type{
  flex-direction: row-reverse;
  font-weight: bold;
}

li dl:nth-of-type(2){
  flex-direction: row-reverse; 
}

li:nth-child(10){
  border-bottom: 20px solid #000000;
}

main p:only-of-type{
  padding-top: 14px;
  padding-bottom:14px;
  padding-left: 19.6px;
  
}