html, body {
  font: 28px Helvetica, Arial, sans-serif;
  background: #ffffff;
}
section {
  width: 680px;
  border: 2px solid #000000;
  box-sizing: border-box;
  padding: 10px 15px 15px 15px;
}
header {
  margin-bottom: 10px;
  border-bottom: 15px solid #000000;
}
h1 {
  padding: 0;
  margin: 0;
  font-size: 56px;
}
h2 {
  margin: 5px 0 0 0;
  font-size: 28px;
  padding: 10px 0;
  border-top: 30px solid #000000;
  border-bottom: 1px solid #000000;
}

dl {
  padding: 0;
  margin: 0;
}
dt {
  display: inline;
  font-weight: 600;
}
dd {
  display: inline;
  margin: 0;
}
sup {
  vertical-align: 3px;
}
header p {
  margin: 0;
}
header dl {
  width: 50%;
  display: inline-block;
  padding: 5px 0;
}
header dl + dl { 
    text-align: right;
    float: right;
}
header dl + dl dt {
  font-weight: 500;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

thead th { 
    text-align: right; 
}
tbody th {
  padding: 2px 0;
  font-weight: normal;
  text-align: left;
  border-top: 1px solid #000000;
}
tbody td {
  padding: 2px 0;
  border-top: 1px solid #000000;
}
tr td:last-of-type {
  text-align: right;    
  font-weight: 600;
}
td dt { 
    font-weight: normal;
}
tbody + tbody tr:first-of-type td { 
    border-top: 20px solid #000000; 
}
tbody + tbody tr td:last-of-type {
  font-weight: normal;
}
table + table tr td:last-of-type {
  font-weight: normal;
  text-align: left;
}
tfoot td:last-of-type {
  font-size: 15px;
  font-weight: normal;
  text-indent: -11px;
  text-align: left;
  border-top: 1px solid #000000;
  padding: 8px 0 8px 11px;
}
table + table thead th + th {
  width: 21%;
}
table + table td {
  border: none;
}
table + table { 
    font-size: 13px; 
}
table + table thead th {
  width: 37%;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid #000000;
}
td.secondary{
    width: 28px;
    border-top:none;
}