body {
  font-family: Helvetica, arial;
  margin: 8px;
  font-size: 28px;
  padding: 10px 15px 15px;
  width: 646px;
  border: 2px solid black;
}

h1 {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    font-size: 56px;
}

h2 {
    margin: 5px 0 0 0;
    border-top: 30px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0;
    font-size: 28px;
}

p {
    margin: 0;
    font-size: 28px;
}

header {
    margin-bottom: 10px;
    border-bottom: 15px solid black;
}

header dl {
    display: inline-block;
    width: 50%;
    padding: 5px 0;
}

header dl + dl {
    text-align: right;
}

header dl + dl dt {
    font-weight: 500;
}

dt {
    display: inline;
    font-weight: bold;
}

dd {
    display: inline;
    margin: 0;
}

dl {
    margin: 0;
    padding: 0;
}

thead th {
    text-align: right;
}

thead dt {
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

tbody th {
    text-align: left;
    padding: 2px 0;
    border-top: 1px solid black;
}

tbody dd {
    font-weight: normal;
}

tbody td {
    border-top: 1px solid black;
    padding: 2px 0;
}

tbody tr td:last-of-type {
    font-weight: bold;
    text-align: right;
}

.tab {
    padding-left: 25px;
}

td dt {
    font-weight: normal;
}

td dl {
    text-align: left;
}

tbody + tbody tr:first-of-type {
    border-top: 20px solid black;
}

tbody + tbody tr td:last-of-type {
    font-weight: normal;
}

tfoot td:last-of-type {
    font-size: 25px;
    padding: 14px 0 14px 20px;
    border-top: 1px solid black;
    text-align: left;
    text-indent: -20px;
}

table + table thead th {
    border-bottom: 1px solid black;
    width: 40%;
    text-align: left;
    font-weight: normal;
    font-size: 22px;
}

table + table thead th + th {
    width: 20px;
}

table + table td {
    font-size: 22px;
}

table + table td.indent {
    text-indent: 20px;
}

table + table tr td:last-of-type {
    font-weight: normal;
    text-align: left;
}

table + table tbody td {
    border: none;
}