body{
      
    height: 1164px;
    width:670px;
    border:2px solid black;
    padding:15px;
    box-sizing: border-box;
    font-family: Helvetica, arial;
    font-size:28px;
}
dl {
    border-top:0px;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
    overflow: hidden;
    margin:0;
     border-collapse: collapse;
}

header{
    font:libre franklin;
     font-size: 28px;
     border-bottom:32px solid black;
     height:162px;
     box-sizing: border-box;
}
header h1, p {
    margin:0px;
}
section:nth-child(2) {
    border-bottom: 15px solid black;
    margin-bottom: 10px;
}
section:nth-child(2) p:nth-child(1) {
    padding:10px 0;
    border-bottom: 1px solid black;
}
section:nth-child(2) dl {
    padding:5px 0;
}
section:nth-child(4){
    border-bottom: 23px solid black;
}

section:nth-child(3) p:nth-child(1) {
    float: right;

    /*display: block;*/
    /*border-bottom: 1px solid black;*/
    /*margin-bottom: 2px;*/
}

section:nth-child(3) {
    border-bottom:1px solid black;
}
/*section:nth-child(3) dl:nth-child(1) {*/
/*     border-top:1px solid green;*/
/*     color:green;*/
/*} */

dd{
    float: right;
}
section{
    margin:1px;
}

dt{
    float: left;
}
section:nth-child(4) dl:nth-child(9){
 border-bottom:0px;
 }
 p:nth-child(5) {
     font-size:25.2px;
     padding:14px 0 14px 14px;
 }
 section:nth-child(4) dl:nth-child(2){
 }
 /*section:nth-child(4) dl:nth-child(3){*/
 /*    text-indent: 30px;*/
     
 /*}*/
 .indent { 
margin-left: 30px;
}
section:nth-child(4) .indent:nth-child(7){
    border-top: 1px solid black;
    width:600px;

}
 section:nth-child(4) .indent:nth-child(2){
    border-top: 1px solid black;
    width:600px;

}
section:nth-child(4) dl:nth-child(1){
    border-bottom: 0;
}
section:nth-child(4) dl:nth-child(6){
    border-bottom: 0;
}

 table{
     font-size:22.4px;
     border-collapse: collapse;
     width:100%;
 }
 
th{
    border:1px solid black;
    border-left:0;
    border-right:0;
    border-top:0;
    text-align: left;
    font-weight: normal;
}
tr:nth-child(6) td:nth-child(1){
   padding-left: 30px;
}
tr:nth-child(2) td:nth-child(1){
   padding-left: 30px;
}
section:nth-child(5) dl{
    line-height: 37px;
}
/*section:nth-child(4) p{*/
/*    height:89px;*/
/*}*/
